@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: "Montserrat",sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header{
    font-weight: bold;
    color: black;
    padding-top: 10px;
    width: 100%;
    position: absolute;
}

header p{
    float: left;
}

.right-header{
    list-style-type: none;
    float: right;
}

.right-header a{
    color: black;
}

.right-header li{
    padding-left: 10px;
    display: inline-block;
}

.top-wrapper {
    height: 700px;
    padding-top: 180px;
    padding-bottom: 100px;
    color: black;
    background-image: url(https://daffadmr.github.io/project-iseng/background.jpg);
    background-size: cover;
    margin-bottom: 100px;
}

.kntl{
    margin-top: 200px;
    margin-left: 1400px;
}

.containerflex{
    width: 1170px;
    margin: 50px auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.laptop{
    width: 50%;
}

.laptop img{
    width: 100%;
}

.about{
    margin-top: 100px;
    text-align: center;
}

footer{
    height: 300px;
    margin-top: 100px;
    position: absolute;
    color: white;
    background-color: black;
    width: 100%;
}

footer table{
    margin-left: 2px;
}
footer p{
    margin: 50px;
    margin-left: 22px;
    margin-bottom: -2px;
}

table, th, td{
    padding: 10px;
}

footer a{
    color: white;
}

.logo{
    margin-top: -160px;
    margin-left: 1045px;
    width: 10%;
}

footer img{
    width: 100%;
}
