@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button, h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.menu-icon {
    color: black;
    font-size: 25px;
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header li{
    display: inline-block;
    padding-right: 20px;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
}
