@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: "Montserrat",sans-serif;
    box-sizing: border-box;
}

.container{
    width: 1170px;
}

li, a, button, h3{
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.menu-icon {
    color: black;
    font-size: 25px;
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    height: 20px;
}

header li{
    display: inline-block;
    padding-right: 20px;
}

header a:hover{
    color: white;
}

body{
    background-image: url(background.jpeg);
    background-size: cover;
}

.content{
    margin-top: 380px;
    width: 50%;
    margin-left: 290px;
}

.content h1{
    font-weight: normal;
}
